<header class="container mx-auto sticky top-0">
  <!-- Navbar -->
  <nav class="relative w-full flex justify-between px-3 bg-cyan-500">
    <!-- Hamburger Menu -->
    <a href="#" class="text-3xl z-20" (click)="showHideMenu()">
      <ng-container *ngIf="!menuVisible; else closeIcon">
        <i class="material-icons">menu</i>
      </ng-container>
      <ng-template #closeIcon>
        <i class="material-icons">close</i>
      </ng-template>
    </a>

    <!-- Navigation -->
    <div class="capitalize text-xl flex gap-x-10">
      <a href="#">Social Media Icons</a>
    </div>
  </nav>

  <!-- Menu -->
  <div
    class="absolute container h-screen bg-gray-400/90 flex flex-col items-center justify-center text-6xl text-white gap-y-7 z-10 scale-x-0 duration-200 origin-left"
    [ngClass]="{ 'scale-x-0': !menuVisible }"
  >
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Portfolio</a>
    <a href="#">Contact</a>
  </div>
</header>
