<header class="md:container md:mx-auto mx-auto sticky top-0">
  <!-- Navbar -->
  <nav class="relative w-full flex justify-between px-3 bg-cyan-500">
    <!-- Hamburger Menu -->
    <a href="#" class="text-3xl z-20" (click)="showHideMenu()">
      <ng-container *ngIf="!menuVisible; else closeIcon">
        <i class="material-icons">menu</i>
      </ng-container>
      <ng-template #closeIcon>
        <i class="material-icons">close</i>
      </ng-template>
    </a>

    <!-- Navigation -->
    <div class="flex gap-x-10 text-white mt-1 text-2xl">
      <span>Luis Samboy</span>
      <span class="w-6 h-6 rounded-full bg-white"></span>
    </div>
  </nav>

  <!-- Menu -->
  <div
    class="absolute container h-screen w-2/3 min-w-fit bg-zinc-900/90 flex flex-col justify-evenly py-10 px-10 text-3xl text-gray-300 gap-y-7 z-10 scale-x-0 duration-300 ease-out origin-left group"
    [ngClass]="{ 'scale-x-0': !menuVisible }">
    <a href="#" class="group/item hover:text-white">Home</a>
    <a href="#" class="group/item hover:text-white">About</a>
    <a href="#" class="group/item hover:text-white">Portfolio</a>
    <a href="#" class="group/item hover:text-white">Contact</a>
    <a href="#" class="group/item hover:text-white justify-self-end">Social</a>
  </div>
</header>