<header>
  <div
    class="flex h-16 border-x-2 border-solid border-x-zinc-600 justify-between bg-stone-950 text-neutral-50 sticky top-0 px-3 w-full min-h-fit"
  >
    <div>Logo<span>Luis Samboy</span></div>
    <div class="border-red-300 border-2">
      <ul class="border-slate-400 border-2 flex flex-wrap w-32">
        <li class="hover:scale-125 hover:duration-200 hover:font-semibold">
          Home
        </li>
        <li class="hover:scale-125 hover:duration-200 hover:font-semibold">
          About
        </li>
        <li class="hover:scale-125 hover:duration-200 hover:font-semibold">
          Projects
        </li>
        <li class="hover:scale-125 hover:duration-200 hover:font-semibold">
          Contact
        </li>
      </ul>
    </div>
  </div>
</header>
