<div class="bg-amber-700 text-center p-4 mx-auto fixed w-full bottom-0 shadow-[4.0px_-8.0px_8.0px_rgba(0,0,0,0.38)] text-base md:text-2xl text-primary
md:flex md:justify-between">
    <p>Made by Luis Samboy @2023</p>
    <p class="space-x-4">
        <a href="https://www.instagram.com/realluissamboy"><fa-icon [icon]="faInstagram"
                class="group/item hover:text-white"></fa-icon></a>
        <a href="https://www.youtube.com/realluissamboy"><fa-icon [icon]="faYoutube"
                class="group/item hover:text-white"></fa-icon>
        </a>
        <a href="https://www.tiktok.com/@realluissamboy?_t=8gSbq3hni50&_r=1"><fa-icon [icon]="faTiktok"
                class="group/item hover:text-white"></fa-icon>
        </a>
        <a href="https://www.twitter.com/realluissamboy">
            <fa-icon [icon]="faXTwitter" class="group/item hover:text-white"></fa-icon>
        </a>

        <a href="https://www.github.com/realluissamboy">
            <fa-icon [icon]="faGithub" class="group/item hover:text-white"></fa-icon>
        </a>

        <a href="https://www.linkedin.com/in/realluissamboy">
            <fa-icon [icon]="faLinkedin" class="group/item hover:text-white"></fa-icon>
        </a>

        <a href="https://wa.me/+16198312725">
            <fa-icon [icon]="faWhatsapp" class="group/item hover:text-white"></fa-icon>
        </a>
        <a href="https://discordapp.com/users/realluisamboy">
            <fa-icon [icon]="faDiscord" class="group/item hover:text-white"></fa-icon>
        </a>
        <a href="https://telegram.me/realluissamboy">
            <fa-icon [icon]="faTelegram" class="group/item hover:text-white"></fa-icon>
        </a>



    </p>
</div>

<!-- flex justify-center sm:justify-between flex-wrap  -->