<div class="flex flex-col items-center justify-center min-h-screen">
    <div class="flex items-center">
        <button (click)="prevBox()" [disabled]="currentIndex === 0" class="bg-blue-500 text-white p-2 m-2">
            Prev
        </button>

        <div *ngFor="let box of boxes; let i = index" [ngClass]="{'hidden': i !== currentIndex}"
            class="border-4 border-white border-solid w-64 h-96 p-4 flex flex-col items-center justify-center m-2">
            <h1 class="text-xl font-bold mb-4">{{box.title}}</h1>
            <p class="text-green-500">{{box.content}}</p>
        </div>

        <button (click)="nextBox()" [disabled]="currentIndex === boxes.length - 1"
            class="bg-blue-500 text-white p-2 m-2">
            Next
        </button>
    </div>

    <div class="flex space-x-2 mt-4">
        <ng-container *ngFor="let box of boxes; let i = index">
            <div
                [class]="i === currentIndex ? 'w-4 h-4 bg-blue-700 rounded-full' : 'w-4 h-4 bg-slate-400 rounded-full'">
            </div>

        </ng-container>
    </div>
</div>