body {
    background-image: url(https://www.dropbox.com/scl/fi/bviunug46q4as910jmx2y/1a4fed9a-1543-43ba-beac-573019109750.png?rlkey=xod04yoey3il9vyrnsep5y8dv&raw=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}